<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Light Finder</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h1>Light Finder</h1>
    </header>
    <div class="container">
        <div class="btn-center">
            <a href="{{ url_for('register') }}"><button>Register</button></a>
            <a href="{{ url_for('login') }}"><button>Login</button></a>
        </div>
        <img src="{{ url_for('static', filename='images/hero.jpg') }}" alt="Hero Image">
    </div>
</body>
</html>
