{% extends "base.html" %}
{% block content %}
{% if show_popup %}
<div class="modal" tabindex="-1" role="dialog" id="welcomeModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Welcome!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Welcome to our site! Here you can upload your light designs. Let's get started!</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Start Uploading</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function(){
        $('#welcomeModal').modal('show');
    });
</script>
{% endif %}
<h1 class="text-center">Upload Your Light</h1>
<!-- Add your upload form here -->
{% endblock %}
