<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Reset Password</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card mt-5">
                    <div class="card-header text-center">
                        <h2>Reset Password</h2>
                    </div>
                    <div class="card-body">
                        <form method="POST" action="{{ url_for('users.reset_token', token=token) }}">
                            {{ form.hidden_tag() }}
                            <div class="form-group">
                                {{ form.password.label(class="form-control-label") }}
                                {{ form.password(class="form-control form-control-lg") }}
                            </div>
                            <div class="form-group">
                                {{ form.confirm_password.label(class="form-control-label") }}
                                {{ form.confirm_password(class="form-control form-control-lg") }}
                            </div>
                            <div class="form-group">
                                {{ form.submit(class="btn btn-primary btn-lg btn-block") }}
                            </div>
                        </form>
                    </div>
                    <div class="card-footer text-center">
                        <p>Remembered your password? <a href="{{ url_for('users.login') }}">Login here</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
