<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select Criteria</title>
</head>
<body>
    <h1>Select Your Criteria</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div>
            {{ form.category.label }}<br>
            {{ form.category() }}
        </div>
        <div>
            {{ form.color.label }}<br>
            {{ form.color() }}
        </div>
        <div>
            {{ form.min_price.label }}<br>
            {{ form.min_price() }}
        </div>
        <div>
            {{ form.max_price.label }}<br>
            {{ form.max_price() }}
        </div>
        <div>
            {{ form.min_order_quantity.label }}<br>
            {{ form.min_order_quantity() }}
        </div>
        <div>
            {{ form.submit() }}
        </div>
    </form>
</body>
</html>
